:root {
    --width-scale: 0.9208;
    --height-scale: 1.0;
    background-color: #0B090A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.plugin-window {
    margin: 0px;
    width: calc(745px * var(--width-scale));
    height: calc(515px * var(--height-scale));
    background-color: #0B090A;
    /*background: url("/src/res/icons/616_ref.png");*/
}


.plugin-header {
    position: absolute;
    top: calc(47px * var(--height-scale));
    left: calc(47px * var(--width-scale));
    width: calc(672px * var(--width-scale));
    height: calc(72px * var(--height-scale));
    flex-shrink: 0;
}

.plugin-title {
    color: #F2F3ED;
    font-family: "Helvetica Neue";
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: calc(43px * var(--width-scale));
}

.plugin-icon {
    position: absolute;
    top: calc(-3px*var(--height-scale));
    left: calc(565px*var(--width-scale));
    width: calc(82px*var(--width-scale));
    height: calc(82px*var(--height-scale));
    aspect-ratio: 1/1;
    
    background: url("/src/res/icons/cillic_logo.png") no-repeat center;
    
    background-size: cover; /* or contain */
}

.plugin-sliders {
    position: absolute;
    top: calc(144px*var(--height-scale));
    left: calc(47px*var(--width-scale));
    display: inline-flex;
    padding-left: calc(2px*var(--width-scale));
    padding-right: calc(2px*var(--width-scale));
    padding-top: calc(2px*var(--height-scale));
    padding-bottom: calc(2px*var(--height-scale));
    align-items: center;
    gap: calc(53px*var(--width-scale));
}

.slider-container {
    height: calc(345px*var(--height-scale));
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the slider-block horizontally */
}

.slider-container-solo {
    height: calc(345px*var(--height-scale));
    display: flex;
    flex-direction: column;
}

.slider-label {
    height: calc(36px*var(--height-scale));
    flex-shrink: 0;
    color: #F2F3ED;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: calc(22px*var(--width-scale));
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.slider-label-center {
    height: calc(36px*var(--height-scale));
    flex-shrink: 0;
    color: #F2F3ED;
    text-align: left;
    font-family: "Helvetica Neue";
    font-size: calc(22px*var(--width-scale));
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateX(-2.5px);
}

.slider-block {
    display: inline-flex;
    gap: calc(22px*var(--width-scale));
    justify-content: start; /* Centers items within the slider-block */
    align-items: center; /* Valid alignment property */
}

.slider {
    width: calc(35px);
    height: calc(204px*var(--height-scale));
    transform: translateY();
    background-color: #a83012b5;
}

.label-block {
    display: flex;
    width: calc(100px*var(--width-scale));
    align-items: center;
    gap: calc(22px*var(--width-scale));
    padding-top: calc(10px*var(--height-scale));
    justify-content: center; /* Centers items within the slider-block */
    align-items: center; 
}

.label-block-solo { 
    display: flex;
    width: calc(100px*var(--width-scale));
    align-items: left;
    gap: calc(22px*var(--width-scale));
    padding-top: calc(10px*var(--height-scale));
    justify-content: left; /* Centers items within the slider-block */
    align-items: left; 
}

.param-label {
    display: flex;
    width: calc(38px*var(--width-scale));
    height: calc(94px*var(--height-scale));
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
}

.plugin-buttons {
    position: absolute;
    top: calc(179px*var(--height-scale));
    left: calc(471px*var(--width-scale));
    display: flex;
    width: calc(214px*var(--width-scale));
    padding-top: calc(2px*var(--height-scale));
    padding-bottom: calc(2px*var(--height-scale));
    justify-content: center;
    align-items: flex-end;
    gap: calc(14px*var(--width-scale));
}

.button-container1 {
    display: grid;
    top: calc(2px*var(--height-scale));
    right: calc(14px*var(--width-scale));
    width: calc(100px*var(--width-scale));
    height: calc(202px*var(--height-scale));
    flex-shrink: 0;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.button-container2 {
    display: grid;
    top: calc(2px*var(--height-scale));
    right: calc(14px*var(--width-scale));
    width: calc(100px*var(--width-scale));
    height: calc(202px*var(--height-scale));
    flex-shrink: 0;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.button-label-svg {
    transform: translateX(63%) translateY(-10%);
}

.button {
    width: calc(45px*var(--width-scale));
    height: calc(45px*var(--width-scale));
}

.button1 {
  grid-row: 1;        /* Row 1 in 0-based = Row 2 in 1-based */
  grid-column: 3;     /* Column 0 in 0-based = Column 1 in 1-based */
  background-color: #F2F3ED;
}

.button2 {
  grid-row: 2;        /* Row 1 in 0-based = Row 2 in 1-based */
  grid-column: 3;     /* Column 1 in 0-based = Column 2 in 1-based */
  
  background-color: #F2F3ED;
}

.button3 {
  grid-row: 3;        /* Row 1 in 0-based = Row 2 in 1-based */
  grid-column: 3;     /* Column 2 in 0-based = Column 3 in 1-based */
  background-color: #F2F3ED;
}

.copyright-section {
    display: flex;
    width: calc(104px*var(--width-scale));
    height: calc(38px*var(--height-scale));
    padding-left: calc(2px*var(--width-scale));
    padding-right: calc(2px*var(--width-scale));
    padding-top: calc(2px*var(--height-scale));
    padding-bottom: calc(2px*var(--height-scale));
    justify-content: right;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: calc(385px*var(--height-scale));
    left: calc(581px*var(--width-scale));
    right: calc(49px*var(--width-scale));
    bottom: calc(92px*var(--height-scale));
}